<form>
    <h1>DELETANDO LUGAR</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="lugar.nome" type="text" name="nome" disabled>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Capacidade</mat-label>
        <input matInput [(ngModel)]="lugar.capacidade" type="number" name="capacidade" disabled >
    </mat-form-field>


    <div class="buttons">
        <button  (click)="delete()" class="mat-elevation-z8" mat-stroked-button color="primary">DELETAR</button>
        <button  (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warm">CANCELAR</button>
    </div>
</form>