<div class="content">
    <div class="title">
        <h1>LUGARES</h1>
    </div>

    <button class="mat-elevation-z8" (click)="navegarParaLugarCreate()" mat-stroked-button color="primary">NOVO LUGAR</button>

    <div class="mat-elevation-z8 content-table">
        <table class="table" mat-table [dataSource]="lugares">

            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> NOME </th>
              <td mat-cell *matCellDef="let row"> {{ row.nome }} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="capacidade">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CAPACIDADE </th>
              <td mat-cell *matCellDef="let row"> {{ row.capacidade }} </td>
            </ng-container>

            <ng-container matColumnDef="eventos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> EVENTOS </th>
                <td mat-cell *matCellDef="let row">
                   <a class="eventos" routerLink="{{ row.id }}/eventos">
                    <i class="material-icons">event_note</i>
                   </a>
                </td>
              </ng-container>            
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="acoes">
              <th class="mat-header" mat-header-cell *matHeaderCellDef mat-sort-header> AÇÕES </th>
              <td mat-cell *matCellDef="let row"> 
                  <a class="edit" routerLink="update/{{ row.id }} ">
                      <i class="material-icons">edit</i>
                  </a>
                  <a class="delete" routerLink="delete/{{ row.id }}">
                    <i class="material-icons">delete</i>
                </a>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>