<form>
    <h1>CRIANDO NOVO EVENTO</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="evento.nome" [formControl]="nome" required  type="text" name="nome" placeholder="Ex. Show" maxlength="100">
        <mat-error *ngIf="nome.invalid"> {{ getMessage() }} </mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Tipo</mat-label>
        <input matInput [(ngModel)]="evento.tipo" [formControl]="tipo" required type="text" name="tipo" placeholder="Ex. Privado" maxlength="100">
        <mat-error *ngIf="tipo.invalid"> {{ getMessage() }} </mat-error>
    </mat-form-field>

    <div class="buttons">
        <button (click)="create()" [disabled]="getMessage()" class="mat-elevation-z8" mat-stroked-button color="primary">CRIAR</button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warm">CANCELAR</button>
    </div>
</form>
